.App {
  font-family: sans-serif;
  text-align: center;

  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  box-sizing: border-box;
  display: block;
}

.city {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-left: -100px;
}

.info {
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.App ul {
  list-style: none;
}

.info-cloudy {
  color: #878787;
  margin-left: -150px;
}

.float-left {
  margin-left: -300px;
}

.container {
  max-width: 550px;

  width: 100%;
  padding: 20px 16px 24px;
  margin-right: auto;
  margin-left: auto;
}